/*Responsividade para versões Mobile*/
    
    /*Hero*/
    /*Sobre*/
    /*Como Funciona*/
    /*Topicos*/
    /*Feedback*/
    /*FAQ*/
    /*Contatos*/
    /*Footer*/

@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }
}

@media screen and (max-width: 425px){
    html{
        font-size: 40%;
    }

    /*topicos trabalhados*/
    .topicos-trabalhados ul{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 320px){
    /*Hero section*/
    .hero-img{
        display: none;
    }

    /*Como funciona*/
    .cf-ilustracao {
        display: none;
    }

    /*topicos trabalhados*/
    .topicos-trabalhados ul{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}