/*Responsividade para versões Mobile*/
/*html{
    width: 100vw;
    background-color: red;
}*/

/*Laptop tirar as margens dos lados*/
@media screen and (max-width: 1024px){
    html{
        min-width: 100%;
        margin: 0;
        padding: 0;
        background-color: rgb(57, 57, 57);
        min-height: 100%;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        color: var(--cor-texto);
    }

    body{
        max-width: 100vw;
        margin: 0 auto;
        background-color: var(--cor-primaria);
        min-height: 100%;
    }
    /*Nav*/
    nav{
        width: 100%;
    }
    
    /*Hero*/
    /*Sobre*/
    /*Como Funciona*/
    /*Topicos*/
    /*Feedback*/
    /*FAQ*/
    /*Contatos*/
    /*Footer*/
}

/*Tablets (Ocultar imagens dispensáveis)*/
@media screen and (max-width: 768px){
    html{
        min-width: 100%;
        margin: 0;
        padding: 0;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        color: var(--cor-texto);
    }

    body{
        max-width: 100vw;
        margin: 0 auto;
        background-color: var(--cor-primaria);
    }
}

