/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Frank+Ruhl+Libre:wght@700&family=Kanit:wght@700&display=swap');
/*
font-family: 'Archivo', sans-serif; -- Subtitle, Texto Corrido (light)
font-family: 'Frank Ruhl Libre', serif; -- TITLE (Bold)
font-family: 'Kanit', sans-serif; -- TOPICOS (Bold)
*/

/*Variáveis-------------------------------------------*/
:root {
    --cor-primaria: #F6F1F1;
    --cor-secundaria: #D0E6F0;
    --cor-action: #EFD593;
    --cor-texto: #051023;
}

/*Configuração padrão-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--cor-texto);
}

body {
    max-width: 100vw;
    margin: 0 auto;
    background-color: var(--cor-primaria);
}

/*Nav bar-------------------------------------------*/
.nav-list {
    padding: 20px 0 20px 0;
    background-color: var(--cor-secundaria);
    list-style-type: none;
    display: flex;
    justify-content: end;
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
}

.nav-list > li {
    display: inline;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-list li a {
    padding: 10px;
    display: inline-block;
    color: var(--cor-texto);
    transition: 0.3s ease;
}

.nav-list li a:hover {
    color: var(--cor-primaria);
    background-color: var(--cor-action);
    border-radius: 10px;
}

/*Hero Section-------------------------------------------*/
.hero-section{
    margin-top: 110px;
    display: flex;
}

.hero-text{
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 320px;
    margin-right: 65px;
}

.hero-text h1{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 80px;
    color: var(--cor-texto);
}

.hero-text p{
    margin-top: 40px;
    font-family: 'Archivo', sans-serif;
    font-size: 32px;
    color: var(--cor-texto);
}

.hero-text button{
    margin-top: 40px;
    font-family: 'Archivo', sans-serif;
    font-size: 32px;
    color: var(--cor-texto);
    padding: 20px 40px 20px 40px;
    border: 3px solid var(--cor-action);
    border-radius: 60px;
    transition: 0.2s ease;
}

.hero-text button:hover{
    background-color: var(--cor-action);
    color: var(--cor-primaria);
}

.hero-img{
    flex: 1;
    margin-right: 320px;
    margin-left: 65px;
}

.hero-img img{
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}







/*Classe de teste*/
.borda{
    border: 1px solid red;
}
