/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Frank+Ruhl+Libre:wght@700&family=Kanit:wght@700&display=swap');
/*
font-family: 'Archivo', sans-serif; -- Subtitle, Texto Corrido (light)
font-family: 'Frank Ruhl Libre', serif; -- TITLE (Bold)
font-family: 'Kanit', sans-serif; -- TOPICOS (Bold) tam 32
*/

/*Variáveis-------------------------------------------*/
:root {
    --cor-primaria: #F6F1F1;
    --cor-secundaria: #D0E6F0;
    --cor-action: #EFD593;
    --cor-texto: #07152f;

    --texto-corrido: 'Archivo', sans-serif;
    --texto-topicos: 'Kanit', sans-serif;
    --texto-titulo: 'Frank Ruhl Libre', serif;

    --tam-corrido: 2rem;
    --tam-topicos: 4rem;
    --tam-titulo: 6rem;
    

}

/*Configuração padrão-------------------------------------------*/
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--cor-texto);
}

body {
    max-width: 100vw;
    margin: 0 auto;
    background-color: var(--cor-primaria);
    font-size: 1.6rem;
}

/*Nav bar-------------------------------------------*/
.nav-list {
    padding: 2rem 0 2rem 0;
    background-color: var(--cor-secundaria);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: auto;
}

.nav-list > li {
    display: inline;
    margin-right: 10rem;
}

.nav-list li a {
    padding: 1rem;
    display: inline-block;
    position: relative;
    color: var(--cor-texto);
    text-transform: capitalize;
}

.nav-list a::after {
    position: absolute;
    content: "";
    background-color: var(--cor-action);
    height: 0.3rem;
    width: 0;
    left: 0;
    bottom: -0.5rem;
    transition: 0.3s ease;
}

.nav-list li a:hover::after {
    width: 100%;
}

/*Hero Section-------------------------------------------*/
#nome-titulo{
    background-color: var(--cor-action);
}

.hero-section{
    display: flex;
    width: 100%;
    max-width: 128rem;
    align-items: center;
    margin: auto;
    margin-top: 11rem;
    padding-left: 4%;
    padding-right: 4%;
    gap: 5rem;
}

.hero-text{
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
    width: 100%;
}

.hero-text h1{
    max-width: 100%;
    font-family: var(--texto-titulo);
    font-size: var(--tam-titulo);
    color: var(--cor-texto);
    padding-bottom: 4rem;
}

.hero-text p{
    font-family: var(--texto-corrido);
    font-size: 3.2rem;
    color: var(--cor-texto);
}

.hero-text button{
    margin-top: 4rem;
    font-family: var(--texto-corrido);
    font-size: 3.2rem;
    color: var(--cor-texto);
    padding: 2rem 4rem 2rem 4rem;
    border: 0.3rem solid var(--cor-action);
    border-radius: 6rem;
    transition: 0.2s ease;
    cursor: pointer;
}

.hero-text button:hover{
    background-color: var(--cor-action);
    color: var(--cor-primaria);
}

.hero-img{
    display: flex;
    width: 100%;
    max-width: 49.8rem;
    height: 100%;
}

.hero-img img{
    width: 100%;
    height: 100%;
    max-width: 700px;
}

/*Sobre ------------------------------------*/
.sobre{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15rem;
    background-color: var(--cor-secundaria);
    height: auto;
    align-items: center;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(189,189,189,1);
    box-shadow: 0px 10px 25px 0px rgb(221, 221, 221);
}
.sobre-itens{
    display: flex;
    gap: 9%;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 128rem;
    padding-left: 4%;
    padding-right: 4%;
}

.frame{
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.sobre-img img{
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 20%;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.sobre-text{
    flex: 2;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100%;
    height: auto;
}

.sobre-text h2{
    text-align: start;
    text-transform: uppercase;
    font-family: var(--texto-topicos);
    font-size: var(--tam-topicos);
    color: var(--cor-action);
    padding-bottom: 1rem;
}

.sobre-text p{
    color: var(--cor-texto);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
}

/*Como funciona ------------------------------------------*/
.como-funciona{
    display: flex;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
    width: 100%;
    max-width: 128rem;
    height: 100%;
}

.cf-text{
    flex: 2;
    margin-right: 2rem;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;
}

.cf-text h2{
    text-transform: uppercase;
    font-family: var(--texto-topicos);
    color: var(--cor-action);
    font-size: var(--tam-topicos);
    padding-bottom: 1rem;
}

.cf-text p{
    font-family: var(--texto-corrido);
    color: var(--cor-texto);
    font-size: var(--tam-corrido);
}

.cf-ilustracao{
    flex: 1;
    margin-left: 2rem;
    max-width: 100%;
    max-height: 100%;
}

.cf-ilustracao img{
    width: 100%;
    height: 100%;
}

/*Topicos trabalhados --------------------------------------*/
.topicos-trabalhados{
    background-color: var(--cor-secundaria);
    border-radius: 0.2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
    width: 95%;
    max-width: 128rem;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(194,194,194,1);
    -moz-box-shadow: 0px 5px 10px 3px rgba(194,194,194,1);
    box-shadow: 0px 5px 10px 3px rgba(194,194,194,1);
    max-width: 100%;
}

.topicos-trabalhados h2{
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-action);
    font-family: var(--texto-topicos);
    font-size: var(--tam-topicos);
}

.topicos-trabalhados p{
    text-align: center;
    color: var(--cor-texto);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 100%;
}

.topicos-trabalhados ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    text-transform: capitalize;
    color: var(--cor-texto);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    min-height: 100%;
    width: 100%;
    max-width: 128rem;
    margin: auto;
}

.topicos-trabalhados li{
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--cor-primaria);
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 10px 3px 0px rgba(222,222,222,1);
    -moz-box-shadow: 0px 10px 3px 0px rgba(222,222,222,1);
    box-shadow: 0px 10px 3px 0px rgba(222,222,222,1);
    transition: transform 0.3s ease;
}

.topicos-trabalhados ul li:hover{
    transform: translateY(-1rem);
    font-weight: bold;
}

/*Feedback ------------------------------------------------------------*/
.feedback{
    padding-top: 10rem;
    padding-bottom: 5rem;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 10rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    width: 100%;
    max-width: 128rem;
}

.feedback h2{
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-action);
    font-family: var(--texto-topicos);
    font-size: var(--tam-topicos);
    padding-bottom: 4rem;
}

.card{
    position: relative;
    padding: 3rem;
    min-height: 40rem;
    max-height: 70rem;
}

.card span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor-secundaria);
    font-size: 15rem;
    width: 20rem;
    height: 20rem;
    color: var(--cor-texto);
    overflow: hidden;
}

.nome{
    display: flex;
    font-family: var(--texto-corrido);
    color: var(--cor-texto);
    font-size: 2.3rem;
    padding-top: 1rem;
    text-transform: capitalize;
    justify-content: center;
}

.review{
    position: absolute;
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    padding-top: 1rem;
    justify-content: center;
    color: var(--cor-texto);
}

/*FAQ ----------------------------------------------------------*/
.faq{
    background-color: var(--cor-secundaria);
    min-height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
}

.faq h2{
    text-transform: uppercase;
    color: var(--cor-action);
    font-family: var(--texto-topicos);
    font-size: var(--tam-topicos);
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    max-width: 128rem;
}

.perguntas-container{
    list-style-type: none;
    margin: auto;
    width: 100%;
    max-width: 128rem;
    margin-bottom: 2rem;
}

.pergunta{
    background-color: var(--cor-primaria);
    min-height: 100%;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 3px 0px rgba(222,222,222,1);
    -moz-box-shadow: 0px 10px 3px 0px rgba(222,222,222,1);
    box-shadow: 0px 10px 3px 0px rgba(222,222,222,1);
    cursor: pointer;
}

.texto-pergunta{
    color: var(--cor-texto);
    font-family: var(--texto-corrido);
    font-size: 2.3rem;
    font-weight: bolder;
    padding: 2rem;
}

.texto-resposta{
    color: var(--cor-texto);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    padding: 0 6rem 0 6rem;
    display: show;
}

/*Contato -----------------------------------------------------------------*/
.contatos{
    height: 100%;
    width: 100%;
    padding: 6rem 4rem 6rem 4rem;
}

.contatos h2{
    font-family: var(--texto-topicos);
    color: var(--cor-action);
    font-size: var(--tam-topicos);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.contatos > div > p{
    font-family: var(--texto-corrido);
    color: var(--cor-texto);
    font-size: 2.6rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 3rem;
}

.caixa-flutuante{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 128rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 14px 78px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 14px 78px 0px rgba(181,181,181,1);
    box-shadow: 0px 14px 78px 0px rgba(181,181,181,1);
}

.lista-contatos{
    display: inline-block;
    flex: 3;
    background-color: #ffffff;
    border-radius: 2rem 0 0 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
}

.ilustracao-correio{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.ilustracao-correio img{
    max-width: 50%;
    max-height: 50%;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem 4rem 0.5rem 4rem;
    max-width: 100%;
}

.contato p{
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    color: var(--cor-texto);
    padding: 1.2rem;
}

.icon{
    padding: 0.8rem;
    background-color: var(--cor-action);
    border-radius: 50%;
}

.icon img{
    display: flex;
    height: 3.6rem;
    width: 3.6rem;
    object-fit: cover;
}

.contato a, span{
    font-weight: bolder;
}

/*Entre em contato | Formulario ------------------------------------*/
.form-email{
    flex: 2;
    background-color: var(--cor-secundaria);
    border-radius: 0 2rem 2rem 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 100%;
    min-width: 50%;
}

.form-email h3{
    margin-top: 4rem;
    text-align: center;
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
}

.form-email form{
    display: block;
    padding: 0 4rem 0 4rem;
    margin: 2rem 0 2rem 0;
}

.form-email label{
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
}

.form-email input, textarea{
    font-family: var(--texto-corrido);
    width: 100%;
    padding: 1.2rem 2rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    resize: none;
}

.form-email button{
    background-color: var(--cor-action);
    color: var(--cor-texto);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    width: 100%;
    border-style: none;
    padding: 0.8rem 0 0.8rem 0;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-email button:hover{
    background-color: #f5c650;
}

/*Footer ---------------------------------------------------------------*/

footer{
    background-color: var(--cor-texto);
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 128rem;
    padding: 6rem 4rem 6rem 4rem;
}

.mapa{
    flex: 1;
    padding: 1rem 10rem 1rem 1rem;
    max-width: 100%;
}

.mapa *{
    color: var(--cor-primaria);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    list-style-type: none;
}

.mapa h4{
    padding-bottom: 1.2rem;
}

.mapa li{
    padding-bottom: 1rem;
}

.links{
    flex: 1;
    padding: 1rem 10rem 1rem 1rem;
    max-width: 100%;
}

.links *{
    color: var(--cor-primaria);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
    list-style-type: none;
}

.links h4{
    padding-bottom: 1.2rem;
}

.links li{
    padding-bottom: 1rem;
}

.aviso{
    padding: 1rem;
    flex: 3;
    max-width: 100%;
}

.aviso *{
    color: var(--cor-primaria);
    font-family: var(--texto-corrido);
    font-size: var(--tam-corrido);
}

.creditos p{
    color: var(--cor-primaria);
    font-family: var(--texto-corrido);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.creditos a{
    color: var(--cor-primaria);
    font-family: var(--texto-corrido);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

/*Configuração do navegador (Scrollbar e mouse selection) -----------------*/
::-webkit-scrollbar{
    width: 1.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor-action);
}
::selection{
    background-color: var(--cor-action);
}

/*Classe de teste --------------------------------------*/
.borda{
    border: 0.1rem solid red;
}
